@media screen and (max-width: 460px) {
    .main-container {
        width: 300px;
        text-align: center;
    }
    h1 {
        font-size: 19px;
    }
    
    body {
        font-size: 14px;
    }
}